# Jekyll Configuration for algeboy.github.io

# Site settings
title:              Please Distribute
name:               James B. Wilson
description:        Sharing research, software, and opinions.
lang:               en
baseurl:            ""
url:                "https://algeboy.github.io"
favicon:            "favicon.png"

# Social links
social:
    email:          James.Wilson@ColoState.Edu
    website:        https://www.math.colostate.edu/~jwilson/
    github:         algeboy
    linkedin:       james-wilson-9909b4134
    youtube:        algeboy

# Footer
footer:
    copyright:      Creative Commons Attribution-ShareAlike 4.0 International License

# Build settings
markdown:           kramdown
kramdown:
  math_engine:      mathjax
  
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - _layouts_old
  - _includes_old
  - _sass_old
  - uploads/css
